body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #444;
    transition: background-color 0.3s ease;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    color: #28a745;
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 32px;
}

.label {
    font-weight: bold;
    color: #000000;
}

.info p,
.coaches p,
.sports p {
    margin: 15px 0;
    font-size: 18px;
    color: #333;
}

.sports a {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.sports a:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.view-students-btn,
.extra-btn {
    width: 35%; /* Adjust the width as needed */
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 18px;
}

.view-students-btn:hover,
.extra-btn:hover {
    background-color: #28a745;
    transform: scale(1.05);
}
