<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sports Organization</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/centers.css') }}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1>Sports Organization</h1>
    <div class="info">
        <p><span class="label">Name:</span> SDAT Dharmapuri</p>
        <p><span class="label">Location:</span>Dharmapuri , TamilNadu</p>
        <p><span class="label">No. of Students:</span> 200</p>
    </div>
    <div class="coaches">
        <p><span class="label">Coaches:</span></p>
        <p>Muthu - 81122 98756</p>
        <p>Shakthi - 96775 57308</p>
    </div>
    <div class="sports">
        <p><span class="label">Sports Offered:</span></p>
        <a href="#football">Football</a>
        <a href="#basketball">Kabbadi</a>
        <a href="#tennis">Volley ball</a>
        <a href="#swimming">Swimming</a>
        <!-- Add more sports links here -->
    </div>
    <div class="button-container">
        <a href="/students" class="view-students-btn">View Students</a>
        <a href="/add_stud" class="extra-btn">Add Students</a>
    </div>
</div>
</body>
</html>
