<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class='stage'>
        <input id='trigger' type='checkbox'>
        <div class='stage_bg'></div>
        <div class='stage_inner'>
          <div class='stage_inner__logo'>
            SDAT
            <span>ORGANIZATION</span>
          </div>
          <div class='stage_inner__menu'>
            <div class='menu'>
              <div class='menu_part'></div>
              <div class='menu_part'></div>
              <div class='menu_part'></div>
            </div>
          </div>
     
          <div class='stage_inner__list'>
            <li><a href="login.html">Login/signUp</a></li>
            <li><a href="/org">SDAT Districts</a></li>
            <li><a href="/dietchart">Nutrition &amp; healthy food</a></li>
            <li><a href="registration_process.html">Registration Process</a></li>
           
          </div>
          
          <div class='stage_inner__centerbox'>
            <div class='illustration'></div>
            <div class='arrow'>
              <label for='trigger'>
                <i class="fas fa-arrow-right"></i>
              </label>
            </div>
            <div class='text'>
              <div class='title'>
                Student Health
              </div>
              <div class='articles'>
                Explore our fitness resources
              </div>
            </div>
          </div>
          <div class='stage_inner__right'>
            <div class='input'>
              <input placeholder='Upcoming Competitions'>
            </div>
            <h2 class='fade'>Sports Competitions & Events</h2>
            <div class='link fade'>
              <a href='#'>Inter-School Basketball Championship</a>
              <p>Registration Deadline: May 15, 2024</p>
              <p>Event Date: May 25-27, 2024</p>
            </div>
            <div class='link fade'>
              <a href='#'>Athletics Meet 2024</a>
              <p>Registration Deadline: June 1, 2024</p>
              <p>Event Date: June 10-12, 2024</p>
            </div>
            <div class='link fade'>
              <a href='#'>Swimming Gala</a>
              <p>Registration Deadline: June 15, 2024</p>
              <p>Event Date: June 25-26, 2024</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
