<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Records</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/medical_record.css') }}">

</head>
<body>
<h1>Health Records - month wise</h1>
    <div class="pricing">
      <div class="plan">
        <h2>January</h2>
        <div class="price">10, 2024</div>
        <ul class="features">
            <li><strong>Problem:</strong> Knee injury</li>
            <li><strong>Visited Hospital:</strong> Global Hospital, Dharmapuri</li>
            <li><strong>Visited Doctor:</strong> Dr.Prabakaran</li>
            <li><strong>Tests:</strong> Blood Test</li>
            <li><strong>Scan Reports:</strong> X-ray</li>
            <li><strong>Prescription:</strong> Rest and physiotherapy</li>
            <li><strong>Duration of Regime:</strong> 2 weeks</li>
            <li><strong>Side Effects:</strong> Yes</li>
            <li><strong>Side Effects Description:</strong> Dizziness, nausea</li>
        </ul>
      </div>
      
    </div>

    
<div class="predict">
    <h3>The predicted weight change for this month is: {{ predicted_weight }}%</h3>
</div>
</body>
</html>