<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/organizationpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>SDTA ORGANIZATION</h1>
<ol>
    <a href="#"><li style="--accent-color:#0D6EFD">
        <div class="icon"><i class="fas fa-futbol"></i></div>
        <div class="title">{{l[0][0]}}</div>
        <div class="descr">To bringing in a competition culture throughout the State in order to
            promote physical fitness, talent identification, competitiveness and
            brotherhood. </div>
    </li></a>
    <a href="chennai.html"><li style="--accent-color:#6710F5">
        <div class="icon"><i class="fas fa-basketball-ball"></i></div>
        <div class="title">{{l[0][1]}}</div>
        <div class="descr">To bringing in a competition culture throughout the State in order to
            promote physical fitness, talent identification, competitiveness and
            brotherhood. </div>
    </li></a>
    <a href="/centers"><li style="--accent-color:#6F42C1">
        <div class="icon"><i class="fas fa-swimmer"></i></div>
        <div class="title">{{l[0][2]}}</div>
        <div class="descr">To bringing in a competition culture throughout the State in order to
            promote physical fitness, talent identification, competitiveness and
            brotherhood. </div>
    </li></a>
    <a href="track_field.html"><li style="--accent-color:#D63384">
        <div class="icon"><i class="fas fa-running"></i></div>
        <div class="title">{{l[0][3]}}</div>
        <div class="descr">To bringing in a competition culture throughout the State in order to
            promote physical fitness, talent identification, competitiveness and
            brotherhood. </div>
    </li></a>
    <a href="volleyball.html"><li style="--accent-color:#DC3545">
        <div class="icon"><i class="fas fa-volleyball-ball"></i></div>
        <div class="title">{{l[0][4]}}</div>
        <div class="descr">To bringing in a competition culture throughout the State in order to
            promote physical fitness, talent identification, competitiveness and
            brotherhood. </div>
    </li></a>
</ol>

</body>
</html>
