<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="organizationpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>SDTA ORGANIZATION</h1>
<ol>
    <a href="namakkal.html"><li style="--accent-color:#0D6EFD">
        <div class="icon"><i class="fas fa-futbol"></i></div>
        <div class="title">NAMAKKAL SDAT</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
    </li></a>
    <a href="chennai.html"><li style="--accent-color:#6710F5">
        <div class="icon"><i class="fas fa-basketball-ball"></i></div>
        <div class="title">CHENNAI SDAT</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li></a>
    <a href="dharmapuri.html"><li style="--accent-color:#6F42C1">
        <div class="icon"><i class="fas fa-swimmer"></i></div>
        <div class="title">DHARMAPURI SDAT</div>
        <div class="descr">Lorem ipsum dolor sit.</div>
    </li></a>
    <a href="track_field.html"><li style="--accent-color:#D63384">
        <div class="icon"><i class="fas fa-running"></i></div>
        <div class="title">Track and Field</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>
    </li></a>
    <a href="volleyball.html"><li style="--accent-color:#DC3545">
        <div class="icon"><i class="fas fa-volleyball-ball"></i></div>
        <div class="title">Volleyball</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li></a>
</ol>

</body>
</html>
