<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display MongoDB Collection</title>
</head>
<body>
    <h1>Contents of MongoDB Collection</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Location</th>
                <th>Contact</th>
                <th>No of Students</th>
                <th>Trainer</th>
                <th>Sports</th>
                <th>Students</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.location }}</td>
                <td>{{ document.contact }}</td>
                <td>{{ document['no of students'] }}</td>
                <td>{{ document.trainer }}</td>
                <td>{{ document.sports }}</td>
                <td>
                    <ul>
                        {% for student in document.students %}
                        <li>Name: {{ student[0] }}, Sport: {{ student[1] }}, Age: {{ student[2] }}, Enrollment Date: {{ student[3] }}, Weight: {{ student[4] }}, Height: {{ student[5] }}, Performance: {{ student[6] }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
